.vuedoc {
}
.vuedoc-demo {
}
.vuedoc-demo__inner {
  border: 1px solid #eaeefb;
}
.vuedoc-demo__preview {
  padding: 20px;
  background-color: #fff;
}
.vuedoc-demo__source {
  background-color: #fafafa;
  border-top: 1px solid #eaeefb;
  overflow: hidden;
  height: 0;
  transition: all 0.2s ease-in-out;
}
.vuedoc-demo__sourceref {
  overflow: hidden;
}
.vuedoc-demo__sourceref > pre {
  padding: 20px 0;
  margin: 0;
  line-height: 1.5;
}
.vuedoc-demo__sourceref code {
  background-color: inherit;
}
.vuedoc-demo__footer {
  border-top: 1px solid #eaeefb;
  height: 44px;
  line-height: 43px;
  box-sizing: border-box;
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  text-align: center;
  margin-top: -1px;
  color: #d3dce6;
  cursor: pointer;
  position: relative;
}
.vuedoc-demo__footer:hover {
  color: #409eff;
  background-color: #f9fafc;
}

.vuedoc-demo code[class*='language-'],
.vuedoc-demo pre[class*='language-'] {
  color: black;
  /* background: none; */
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
.vuedoc-demo pre[class*='language-'] {
  position: relative;
  padding: 10px 0;
  overflow: visible;
  padding: 0;
  margin: 0;
}
.vuedoc-demo pre[class*='language-'] > code {
  position: relative;
  /* border-left: 10px solid #358ccb; */
  /* box-shadow: -1px 0px 0px 0px #358ccb, 0px 0px 0px 1px #dfdfdf; */
  background-color: #fdfdfd;
  background-image: linear-gradient(#fafafa 50%, transparent 50%);
  background-size: 3em 3em;
  background-origin: content-box;
  background-attachment: local;
}

.vuedoc-demo code[class*='language'] {
  max-height: inherit;
  height: inherit;
  padding: 0 1em;
  display: block;
  overflow: auto;
}

/* Margin bottom to accommodate shadow */
.vuedoc-demo :not(pre) > code[class*='language-'],
.vuedoc-demo pre[class*='language-'] {
  /* background-color: #fdfdfd; */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* margin-bottom: 1em; */
}

/* Inline code */
.vuedoc-demo :not(pre) > code[class*='language-'] {
  position: relative;
  padding: 0.2em;
  border-radius: 0.3em;
  color: #c92c2c;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: inline;
  white-space: normal;
}

.vuedoc-demo pre[class*='language-']:before,
.vuedoc-demo pre[class*='language-']:after {
  /* content: '';
    z-index: -2;
    display: block;
    position: absolute;
    bottom: 0.75em;
    left: 0.18em;
    width: 40%;
    height: 20%;
    max-height: 13em; */
  /* box-shadow: 0px 13px 8px #979797;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg); */
}

.vuedoc-demo :not(pre) > code[class*='language-']:after,
.vuedoc-demo pre[class*='language-']:after {
  right: 0.75em;
  left: auto;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
}

.vuedoc-demo .token.comment,
.vuedoc-demo .token.block-comment,
.vuedoc-demo .token.prolog,
.vuedoc-demo .token.doctype,
.vuedoc-demo .token.cdata {
  color: #7d8b99;
}

.vuedoc-demo .token.punctuation {
  color: #5f6364;
}

.vuedoc-demo .token.property,
.vuedoc-demo .token.tag,
.vuedoc-demo .token.boolean,
.vuedoc-demo .token.number,
.vuedoc-demo .token.function-name,
.vuedoc-demo .token.constant,
.vuedoc-demo .token.symbol,
.vuedoc-demo .token.deleted {
  color: #c92c2c;
}

.vuedoc-demo .token.selector,
.vuedoc-demo .token.attr-name,
.vuedoc-demo .token.string,
.vuedoc-demo .token.char,
.vuedoc-demo .token.function,
.vuedoc-demo .token.builtin,
.vuedoc-demo .token.inserted {
  color: #2f9c0a;
}

.vuedoc-demo .token.operator,
.vuedoc-demo .token.entity,
.vuedoc-demo .token.url,
.vuedoc-demo .token.variable {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

.vuedoc-demo .token.atrule,
.vuedoc-demo .token.attr-value,
.vuedoc-demo .token.keyword,
.vuedoc-demo .token.class-name {
  color: #1990b8;
}

.vuedoc-demo .token.regex,
.vuedoc-demo .token.important {
  color: #e90;
}

.vuedoc-demo .language-css .token.string,
.vuedoc-demo .style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

.vuedoc-demo .token.important {
  font-weight: normal;
}

.vuedoc-demo .token.bold {
  font-weight: bold;
}
.vuedoc-demo .token.italic {
  font-style: italic;
}

.vuedoc-demo .token.entity {
  cursor: help;
}

.vuedoc-demo .token.namespace {
  opacity: 0.7;
}

@media screen and (max-width: 767px) {
  .vuedoc-demo pre[class*='language-']:before,
  .vuedoc-demo pre[class*='language-']:after {
    bottom: 14px;
    box-shadow: none;
  }
}

/* Plugin styles */
.vuedoc-demo .token.tab:not(:empty):before,
.vuedoc-demo .token.cr:before,
.vuedoc-demo .token.lf:before {
  color: #e0d7d1;
}

/* Plugin styles: Line Numbers */
.vuedoc-demo pre[class*='language-'].line-numbers.line-numbers {
  padding-left: 0;
}

.vuedoc-demo pre[class*='language-'].line-numbers.line-numbers code {
  padding-left: 3.8em;
}

.vuedoc-demo pre[class*='language-'].line-numbers.line-numbers .line-numbers-rows {
  left: 0;
}

/* Plugin styles: Line Highlight */
.vuedoc-demo pre[class*='language-'][data-line] {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}
.vuedoc-demo pre[data-line] code {
  position: relative;
  padding-left: 4em;
}
.vuedoc-demo pre .line-highlight {
  margin-top: 0;
}
